<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Insert here your title</title>
        <meta name="description" content="Insert description." />
        <meta name="keywords" content="insert, keywords" />
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <link rel="stylesheet" href="css/main.css">

        <!-- Open Graph for social networks -->
        <meta property="og:title" content="Insert title for social networks" />
        <meta property="og:description"
              content="Insert description for social networks" />
        <meta property="og:type" content="" />
        <meta property="og:image" content="/img/large_picture.png" />
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@twitter_user">
        <meta name="twitter:title" content="Title for twitter">
        <meta name="twitter:description"
              content="Description for twitter" />
        <meta name="twitter:image" content="/img/large_picture.png">
        <!-- <link rel="shortcut icon" href="https://dyne.org/favicon.ico"> -->
        <link rel="twitter" type="text/html" href="http://twitter.com/DyneOrg">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
        <!-- <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/united/bulmaswatch.min.css">
        -->
    </head>
    <body>

        <!-- <section class="hero is-primary is-bold">
             <div class="hero-head">
             <div class="container">
             <h1 class="title">Title</h1>
             <h2 class="subtitle">Subtitle</h2>
             </div>
             </div>
             <div class="hero-body">
             <div class="container">
             <div class="embed-responsive" width="100%" height="100%">
             <iframe src="https://www.youtube.com/embed/zJNUUkx-_38" allowfullscreen></iframe>
             </div>
             </div>
             </div>
             <div class="hero-foot">
             <div class="container">
             <h2>Description</h2>
             </div>
             </div>
			 </section>
		-->

        <section class="section">
            <div class="container">

				<markdown>

# Title of the website

test test markdown body



				</markdown>
				<!-- 
				-->

            </div>
        </section>

        <section class="section">
            <div class="container">
                <h1 class="title">Contact</h1>
                <h2 class="subtitle">the best way to get in touch is via E-Mail</h2>
                <p>
                    <span class="badge badge-primary">Email</span> info@domain.org <br />
                    <span class="badge badge-dark">Chat</span> <a href="https://irc.dyne.org">irc.dyne.org</a>&nbsp;and Freenode <br />

                    <span class="badge badge-success">Social</span> <a href="https://twitter.com/jaromil">
                        <i class="fab fa-twitter"></i>jaromil</a>
                        - <a href="https://instagram.com/dyneorg"><i class="fab fa-instagram"></i>dyneorg</a>
                        - <a href="https://github.com/dyne"><i class="fab fa-github"></i>github</a> <br />
                        <span class="badge badge-warning">Confidential</span>
                        PGP:  <a href="https://keybase.io/jaromil">keybase.io/jaromil</a>
                </p>
            </div>
        </section>

        <footer class="footer has-text-centered">
            <ul>
                <li>
                    <small>
                        &nbsp; All materials are free to share<br />
                        &nbsp; Creative Commons (<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/" style="color: #000">BY-NC-SA 3.0</a>)
                    </small>
                </li>

                <li>
                    <a href="https://twitter.com/DyneOrg" data-show-count="false" data-size="small" style="padding: 0 2em">
                        <img src="img/twitter.png" width="auto">Follow</a>
                </li>

            </ul>
        </footer>
        <script type="text/javascript" src="lib/main.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="lib/flowtype.js"></script>
        <script>
         $('body').flowtype({
             minimum   : 300,
             maximum   : 1000,
             minFont   : 12,
             maxFont   : 36,
             fontRatio : 40});
        </script>

    </body>
</html>

