@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
// $pink: #ff8080;
$pink: #ffeedd;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Ubuntu", "Arial", sans-serif;
$family-serif: "Times", serif;
// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $black;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";

.hero-head {
	padding-top: 2em;
}
.hero-foot {
	padding: 1em;
}

// full width iframes
.embed-responsive {
    position: relative;
    padding-bottom: 56.25%; // 16x9
	// padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe,	object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

h1, h2, h3 {
//	text-align: center;
	@extend .has-text-centered;
}

img {
	height: auto;
	width: auto;
}
p {
	@extend .is-primary;
	@extend .has-text-justified;
}
// html { background-color: $green;}
/* .embed-responsive-item { */
/* 	width: 16em; */
/* 	height: 9em; */
/* } */
/* .embed-responsive { */
/* 	width: 16em; */
/* 	height: 9em; */
/* } */
