@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap");

$font-family-sans-serif: "Barlow", sans-serif;
$font-family-serif: Georgia, sans-serif;
$font-family-monospace:  "Courier New", Courier, monospace;

// import libreria
@import "../node_modules/bootstrap-italia/src/scss/bootstrap-italia";

// customization for OpenRousseau
$primary: #0066cc;
$biancosporco: #F4F5F0; 
$font-family-sans-serif: "Barlow", sans-serif;
$font-family-serif: Georgia, sans-serif;
$font-family-monospace:  "Courier New", Courier, monospace;

html {
  scroll-behavior: smooth;
}

.it-header-center-wrapper
  .it-header-center-content-wrapper
  .it-right-zone
  .it-socials
  ul
  .icon {
  height: 38px;
  width: 38px;
  &.fa-telegram {
    height: 34px;
    width: 34px;
    fill: white;
    color: white;
  }
}

.bg-radial-blue {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%230066cc' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"),
    radial-gradient(100% 100% at 50% 0%, #0073d1 0%, #00266b 100%);
}

.bg-bianco-sporco {
  background-color: #F4F5F0;
}

#partecipa {
  background-color: #2079d4;
  background-image: url(/assets/partecipa-bg.svg);
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  padding: 2rem 0;
}


@media (min-width: 992px) {
  .it-header-navbar-wrapper nav .navbar-collapsable .menu-wrapper {
    background: rgba(255,255,255,0.2);
  }
}
