
.embed-responsive {
    position: relative;
    padding-bottom: 56.25%; // 16x9
	padding-top: 30px;
	height: 0;
	overflow: hidden;
	iframe,	object, embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}


/**
 * Ratios
 * Returns the ratio for specified dimensions.
 */
@function ratio($width, $height) {
  @return percentage( $height / $width);
}

@mixin generateRatios($width, $height, $prefix: "ratio-") {
  $class-name: $prefix + $width + "x" + $height;

  .#{$class-name} {
    // padding-top: ratio($width, $height);
	overflow: hidden;
	// padding-top: 56.25%;
	position: relative;
  }
  // Output example: .ratio-16x9 {}
}

@include generateRatios(16,9); // 16x9
@include generateRatios(4,3);  // 4x3

iframe {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
